* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: url(../img/headerbg.png);
}

nav {
    position: sticky;
    top: 0;
    background-color: #04908B;
    font-size: 26px;
    display: flex;
}

.title {
    padding: 6px 827px 19px 25px;
    font-weight: 900;
}

nav li {
    display: inline-block;
    padding: 17px 25px 0 6px;
    font-size: 16px;
    font-weight: 500;
}

nav li a:hover {
    color: #CFC91D;
    transition: all ease .8s;
}

nav a {
    color: white;
    transition: all ease .8s;
}

nav a span {
    color: #CFC91D;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 44px;
}
